<div class="span6 offset2">
	<div class="row-fluid">
		<div class="hero-unit full-admin-green poster">
			<p class="cramped">
				<i class="icon-signin icon-white"></i> Sign In
			</p>
			<hr>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
				<div class="offset3">
					<%= f.text_field :user_name, :autofocus => true, :placeholder => "username" %>
				</div>
				<div class="offset3">
					<%= f.password_field :password, :placeholder => "password" %>
				</div>

				<% if devise_mapping.rememberable?%>
					<div class="offset3">
						<%= f.label :remember_me, :class=>"for-checkbox" do %>
							<%=	f.check_box :remember_me %> <small>Keep me signed in</small>
						<% end %>
					</div>
				<% end %>

				<div>
					<%= submit_tag "log in", :class => "btn-inverse btn-large offset4 span4" %>
				</div>
			<% end %>

			<%= render "admin/shared/links" %>

		</div>
	</div>
</div>