<div class="span6 offset2">
	<div class="row-fluid">
		<div class="hero-unit full-admin-green poster">
			<p class="cramped">
				<i class="icon-user icon-white"></i> Sign Up
			</p>
			<hr>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
				<%= devise_error_messages! %>
				<div class="control-group">
					<div class="control-label">
						<%= f.label :email %>
					</div>
					<div class="controls">
						<%= f.email_field :email, :autofocus => true %>
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">
						<label for="admin_user_name">Party Name</label>
					</div>
					<div class="controls">
						<%= f.text_field :user_name %>
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">
						<%= f.label :password %>
					</div>
					<div class="controls">
						<%= f.password_field :password %>
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">
						<%= f.label :password_confirmation %>
					</div>
					<div class="controls">
						<%= f.password_field :password_confirmation %>
					</div>
				</div>

				<%= submit_tag "Sign Up", :class => "btn-inverse btn-large offset4" %>
			<% end %>

			<%= render "admin/shared/links" %>

		</div>
	</div>
</div>