<div class="row-fluid">
	<h1>New Party</h1>
	<h3 class="muted">You're just 4 simple steps away from starting your Party...</h3>

	<%= render :partial => 'admin/shared/guide', :locals => {:box1_class => "full-admin-green", :box2_class => "full-admin-muted", :box3_class => "full-admin-muted", :box4_class => "full-admin-muted"} %>

	<div class="span6 offset2">
		<div class="row-fluid">
			<div class="hero-unit full-admin-green poster">
				<% if @party.errors.any? %>
					<div id="error_explanation">
						<p><%= pluralize(@party.errors.count, "error") %> prohibited this Party from being saved:<p>

						<ul>
							<% @party.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<%= form_for([:admin, @party], :html => {:class => "form-horizontal"}) do |f| %>

					<div class="control-group">
						<div class="control-label">
							<%= f.label :name %>
						</div>
						<div class="controls">
							<%= f.text_field :name, :autofocus => true, :placeholder => "name" %>
						</div>
					</div>


					<div>
						<%= f.submit "create", :class => "btn btn-large offset4 span4" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>