<div class="row-fluid">
	<h1><%= @party.user_name %></h1>
	<h3 class="muted">Invite more people to your party, or select a name to set up exclusions</h3>

	<%= render :partial => 'admin/shared/guide', :locals => {:box1_class => "full-admin-muted", :box2_class => "full-admin-green", :box3_class => "full-admin-muted", :box4_class => "full-admin-muted"} %>

	<div class="span12">
		<% if @party.launched? %>
				<%= render :partial => 'launched_party' %>
			<% else %>
				<%= render :partial => 'pre_launch_party' %>
			<% end %>

		<% unless @party.launched? %>
			<%= render :partial => 'invite_others' %>
		<% end %>

		<%= javascript "invitations.js" %>
		</div>
	</div>