<div class="hero-unit">
	<h1><%= @party.name %></h1>
	<p> here are the people currently in your party.</p>
	<p><small>Some parties require exclusion rules, where you can specify which people are "exempt" from being selected by a specific person. click through below to set up rules for individuals</small></p>
		<% @party.users.each do |user| %>
			<p><%= link_to user.user_name, exclusions_admin_party_user_path(@party, user) %><p>
		<% end %>
</div>

<div class="hero-unit">
	<h3>Invite more people!</h3>

	<%= form_tag(admin_party_invitations_path(@party)) do %>
		<div class="field" id="invitees_list">
			<%= label_tag "invitees[]", "email address: " %>
			<%= email_field_tag "invitees[]" %>
		</div>
		<div class="actions">
			<%= link_to("add more", "#", {:id => "add_more_emails"}) %>
		</div>
		<div class="actions">
			<%= submit_tag "Invite", :class => "btn btn-primary btn-large" %>
		</div>
	<% end %>
</div>

<%= javascript "invitations.js" %>
