<%= form_for [:admin, @group] do |form|%>

    <% unless @group.valid? %>
        <div class="alert alert-error">
          <ul>
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div>
      <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </p>
    </div>

    <div><%= form.submit %></div>
<% end %>